.navbar-inner {
    border-radius: 0 0 0 0;
}
#calculator-wrapper {
    font-size: 42px;
}
#calculator-wrapper .uneditable-input {
    height: 42px;
    font-size: 42px;
    line-height: 35px;
    width: 100%;
}
#calculator-wrapper .span1 {
    height: 42px;
    font-size: 42px;
}
#calculator-wrapper .span1 .visible-phone {
    line-height: 25px;
}
#calculator-wrapper .span1 .hidden-phone {
    line-height: 42px;
}
.btn {
    width: 10%;
    height: 50px;
    margin: 0 5px 5px 0;
    line-height: 50px;
    font-weight: bold;
    font-size: 25px;
}